@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}


/*           NAVBAR           */

@media screen and (max-width: 1200px) {
    nav .nav-links {
        --inline-gap: 0px;
        --block-gap: 10px;
        transform: translateX(100%);
        position: absolute;
        z-index: 999;
        width: 350px;
        height: 100%;
        background-color: #fff;
        border-left: 2px solid var(--color-primary);
        right: 0;
        top: 0;
        flex-direction: column;
        transition: transform 400ms;
        gap: 2rem;
    }
    nav .nav-links a {
        width: 100%;
        padding: var(--block-gap) 10px;
    }
    nav .nav-links .close-icon {
        display: block;
        padding: 10px 15px 5px;
    }
    nav .nav-links a:not(.active):hover::before {
        width: 0px;
    }
    nav .nav-links a::before {
        bottom: 2px;
    }
    nav .mode-group {
        margin-left: auto;
        margin-right: 20px;
    }
    nav .menu-icon {
        display: block;
    }
}
@media screen and (max-width: 768px) {
  nav .container .logo{
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 576px) {
  nav .container .logo{
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 440px) {
  nav .container .logo{
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  nav .container .logo{
    font-size: .9rem;
  }
}
@media screen and (max-width: 350px) {
  nav .nav-links {
        width: 300px;
    }
}


/*        ABOUT HEADER       */

@media screen and (max-width: 1200px) {
  .intro .container .about-content h2{
    font-size: 3rem;
    color: inherit;
    font-weight: 400;
  }
}
@media screen and (max-width: 992px) {
  .intro .container{
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
  }
  .intro .container .about-content{
    width: 100%;
    text-align: center;
  }
  .intro .img-border {
    width: 70%;
  }
  .intro .container .about-content h2{
    font-size: 2.5rem;
    color: inherit;
    font-weight: 400;
  }
  .btns{
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .intro .container .about-content h2{
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .intro .container .about-content h2{
    font-size: 1.7rem;
  }
}

/*        PROJECTS SECTION       */

@media screen and (max-width: 992px) {
  .projects .container .project{
    flex-direction: column;
    min-height: 460px;
    justify-content: center;
  }
  .projects .container .project img{
    width: 100% !important;
    height: 50% !important;
    display: none;
  }
  .project:nth-child(even) {
    flex-direction: column-reverse !important;
  }
  .projects .container .project .project-content p{
    width: 95%;
    font-size: 1rem;
  }
  .projects .container .project .project-content{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 50%;
  }
}
@media screen and (max-width: 465px) {
  .projects .container .project{
    gap: .5rem;
    width: 100%;
  }
  .projects .container .project .project-content{
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: relative;
  }
  .projects .container .project .project-content ul{
    padding-right: 10px;
  }
  .projects .container .project .project-content ul li i{
    font-size: 1.3rem;
  }
  .projects .container .project .project-content p{
    width: 95%;
    font-size: .8rem;
  }
}

/*          TECHNOLOGY SECTION         */

@media screen and (max-width: 1200px) {
  .tech .container .tech-container .technology{
    width: calc((100% - var(--gap) * 2) / 3);
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .tech .container .tech-container .technology{
    width: calc((100% - var(--gap) * 2) / 2);
  }
}
@media screen and (max-width: 575px) {
  .tech .container .tech-container .technology{
    align-items: center !important;
  }
  .tech .container .tech-container .technology .tech-content{
    gap: .2rem !important;
    text-align: center !important;
  }
  .tech .container .tech-container .technology i{
      font-size: 3.3rem;
      color: var(--color-primary);
      height: 100% !important;
  }
  .tech .container .tech-container .technology h3{
      font-size: 1.2rem;
      font-family: var(--font-tertiary);
  }
}

@media screen and (max-width: 466px) {
  .tech .container .tech-container{
    flex-direction: column;
  }
  .tech .container .tech-container .technology{
    width: 100%;
  }
}

/*          FOOTER         */

@media screen and (max-width: 1200px) {
  .footer .container{
    gap: 2.5rem;
  }
  footer h1{
    justify-self: center;
    text-align: center; 
    font-size: 3rem;
  }
}
@media screen and (max-width: 992px) {
  footer h1{
    justify-self: center;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  footer{
    padding-top: 13rem;
  }
  .footer .container{
    gap: 5rem !important;
  }
}
@media screen and (max-width: 576px) {
  footer h1{
    font-size: 2rem;
  }
  footer .f{
    font-size: .9rem;
  }
}
@media screen and (max-width: 465px) {
  footer h1{
    font-size: 1.9rem;
  }
  footer .f{
    font-size: .8rem;
  }
  footer .container .footer-content .rights{
    font-size: .7rem;
}
}
